#main-block {
    background-image: url("../images/bus.png");
    background-repeat: no-repeat;
    width: 1500px;
    height: 400px;
    background-position: center;
    text-align: center;
    vertical-align: 2px;
    color: white;
    font-size: 28px;
}



.book-btn {
    background-color: #00cc00;
    border-radius: 30px ;
    height: 40px;
    width: 200px;
}
