#main-block {
    background-image: url("../images/bus-homepage-mainblock.jpg");
    background-repeat: repeat;
    width: 1350px;
    height: 400px;
    display: table-cell;
    text-align: center;
    vertical-align: 2px;
    color: white;
    font-size: 28px;
}

.book-btn {
    background-color: gold;
    border-radius: 30px ;
    height: 40px;
    width: 200px;
}
