

.ride-detail {
    position: relative;
    height: 120px;
    width: 60%;
    border-radius: 25px;
    padding: 20px;
    margin-top: 0px;
    margin-right:auto;
    margin-bottom: 10px;
    margin-left:auto;
    background: #f54b38;
    color: white;
}

.book-btn {
    background-color: gold;
    border-radius: 30px ;
    position: absolute;
    top: 95px;
    right: 20px;
    height: 50px;
    width: 100px;
}

.od-line {
    background: linear-gradient(#9e63f7,#3b0e80);
    border-radius: 50px;
    position: absolute;
    left: 150px;
    height: 80px;
    width: 8px;
}

.origin-box {
    position: absolute;
    left: 165px;
    top: 20px
}

.dest-box {
    position: absolute;
    left: 165px;
    top: 80px
}

.fare-box {
    position: absolute;
    bottom: 30px;
    left: 70px;
    font-size: 20px;

}

.time-box {
    position: absolute;
    top: 40px;
    font-size: 24px;
    font-weight: bold;
}

.seat-box {
    position: absolute;
    top: 20px;
    right: 20px;
}

.money-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
    height: 40px;
    width:40px;
}

.date-box {
    position: absolute;
    font-weight:  bold;
}

#booked-ride {
    background: rgb(84, 228, 84);
}